/* light theme */
:root {
    --background-color: #fff;
    --text-color: #000;
    --gap:10px;
}

/* dark theme */
.dark-theme {
    --background-color: #333;
    --text-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/* style for responsivenes ---------------------------------------------------- */

.container{
    max-width: 1200px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col, [class*="col-"]{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);
    flex: 1;
    padding: 0 10px;
    width: 100%;
}

.col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
}

@media screen and (max-width: 768px){
    .col-md-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* flex classes --------------------------------------------------------------- */

.df{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap)
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.nowrap{
    flex-wrap: nowrap;
}
.flex-column{
    flex-direction: column;
}
.tac{
    text-align: center;
}
.fg{
    flex-grow: 1;
}


/* other classes ------------------------------------------------------------- */
.d-none{
    display: none !important;
}
.mr-auto{
    margin-right: auto;
}

/* global style --------------------------------------------------------------- */

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img{
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.bdb{
    border: 1px solid black;
}
.bdr{
    border: 1px solid red;
}

/* header --------------------------------------------------------------------- */

header{
    padding: 10px 0;
    border: 2px solid #000000;
    padding: 15px;
}






















/* footer --------------------------------------------------------------------- */

footer{
    padding: 10px 0;
    border: 2px solid #000000;
    padding: 15px;
}

