/* light theme */
:root {
    --background-color: #fff;
    --text-color: #000;
    --gap:10px;
}

/* dark theme */
.dark-theme {
    --background-color: #333;
    --text-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* style for responsivenes ---------------------------------------------------- */

.container{
    max-width: 1200px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col, [class*="col-"]{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);
    flex: 1;
    width: 100%;
}

.col-md-6{
    flex: 0 0 50%;
    max-width: calc(50% - var(--row-gap));
}

@media screen and (max-width: 768px){
    .col-md-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mb-sm {
        margin-bottom: 20px;
    }
    .h-sm {
        max-height: 300px;
    }
}

/* flex classes --------------------------------------------------------------- */

.df{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap)
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.nowrap{
    flex-wrap: nowrap;
}
.flex-column{
    flex-direction: column;
}
.tac{
    text-align: center;
}
.fg{
    flex-grow: 1;
}


/* general style ---------------------------------------------------------------- */

.d-none{
    display: none !important;
}
.mr-auto{
    margin-right: auto;
}

[style*=--p\:] { padding: calc(0.25em * var(--p)) }
[style*=--px\:] { padding-left: calc(0.25em * var(--px)); padding-right: calc(0.25em * var(--px)) }
[style*=--py\:] { padding-top: calc(0.25em * var(--py)); padding-bottom: calc(0.25em * var(--py)) }
[style*=--pt\:] { padding-top: calc(0.25em * var(--pt)) }
[style*=--pb\:] { padding-bottom: calc(0.25em * var(--pb)) }
[style*=--pl\:] { padding-left: calc(0.25em * var(--pl)) }
[style*=--pr\:] { padding-right: calc(0.25em * var(--pr)) }

[style*=--gap\:] { gap: calc(0.25em * var(--gap)) }


/* global style ----------------------------------------------------------------- */

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.bdb{
    border: 1px solid black;
}
.bdr{
    border: 1px solid red;
}

.box{
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
}

/* header --------------------------------------------------------------------- */

header{
    padding: 10px 0;
    border: 2px solid #000000;
    padding: 15px;
}

.input {
    color: var(--text-color);
}





















/* footer --------------------------------------------------------------------- */

footer{
    padding: 10px 0;
    border: 2px solid #000000;
    padding: 15px;
}

