*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* style for responsivenes ---------------------------------------------------- */

.container{
    max-width: 1400px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"]{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10px;
    border: 1px solid #000000;
}

.col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
}

@media screen and (max-width: 768px){
    .col-md-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* flex classes --------------------------------------------------------------- */

.df{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.jcc{
    justify-content: center;
}
.nowrap{
    flex-wrap: nowrap;
}
.flex-column{
    flex-direction: column;
}
.tac{
    text-align: center;
}
.full-height{
    height: 100vh;
}
.fg{
    flex-grow: 1;
}

/* global style --------------------------------------------------------------- */

img{
    max-width: 100%;
    height: auto;
}

.bdb{
    border-bottom: 1px solid black;
}
.bdr{
    border-bottom: 1px solid red;
}




/* header --------------------------------------------------------------------- */

header{
    padding: 10px 0;
    border: 2px solid #000000;
    padding: 15px;
}

